/* custom styling by diaz */
.axil-product>.thumbnail>a img {
  margin: 0 auto !important;
  width: 100% !important;
  height: 100% !important;
}
.product-image {
  width: 100%;
}
.paginate_button {
  width: auto;
}
.main-banner {
  background: unset !important;
  padding-bottom: 0;
  padding-top: 45px;
}
.product-grid {
  padding-top: 0;
}
.product-grid .section-title-wrapper {
  padding-right: 0;
}
.card-checkout {
  padding: 0 !important;
}
.card-header.checkout {
  padding: 20px 15px;
}
.card-header.checkout h5 {
  margin-bottom: 0;
}